
module selinux_fedora 1.0;

require {
	type var_t;
	type zabbix_agent_t;
	class file { execute open read };
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t var_t:file execute;

#!!!! This avc is allowed in the current policy
allow zabbix_agent_t var_t:file { open read };
